<p>
	A liposome is a spherical vesicle having at least one lipid bilayer. The liposome can be used as a vehicle for administration of nutrients and pharmaceutical drugs.[2] Liposomes can be prepared by disrupting biological membranes (such as by sonication).

Liposomes are most often composed of phospholipids, especially phosphatidylcholine, but may also include other lipids, such as egg phosphatidylethanolamine, so long as they are compatible with lipid bilayer structure.[3] A liposome design may employ surface ligands for attaching to unhealthy tissue.[1]

The major types of liposomes are the multilamellar vesicle (MLV, with several lamellar phase lipid bilayers), the small unilamellar liposome vesicle (SUV, with one lipid bilayer), the large unilamellar vesicle (LUV), and the cochleate vesicle.[4] A less desirable form are multivesicular liposomes in which one vesicle contains one or more smaller vesicles.

Liposomes should not be confused with micelles and reverse micelles composed of monolayers.[5]
</p>
{{#if displaying}}
	<p><button {{action 'hidePhoto'}}class = 'btn btn-primary'>Hide Picture</button></p>
	<p><img src=" http://www.nature.com/nature/journal/v489/n7416/images/489372b-f1.2.jpg"></p>
	{{else}}
	<button {{action 'showPhoto'}}class = 'btn btn-primary'>Show Picture</button>
{{/if}}